spring:
  datasource:
    url: jdbc:h2:file:./data/notesdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  h2:
    console:
      enabled: true
      path: /h2-console
  flyway:
    enabled: true
    locations: classpath:db/migration

server:
  port: 8080

app:
  jwt:
    secret: change-this-secret-in-real-apps-change-this-secret
    expiration-minutes: 120

logging:
  level:
    org.springframework.security: INFO
